// COLORS

$blue-dark: #22577a;
$blue-light: #38a3a5;

$green-dark: #57cc99;
$green-light: #80ed99;
$green-theme: #c7f9cc;
$green-darker: darken($green-dark, 20%);

$gray-light: #ddd;

// FONTS

$default-font-size: 1.6rem;
