.header {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      to right bottom,
      rgba(darken($green-dark, 65%), 0.7),
      rgba(darken($green-dark, 65%), 0.7)
    ),
    url(../img/palm-tree-big.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  .hidden {
    display: none;
  }

  &__nav {
    list-style: none;
    display: inline-block;

    width: 100%;
    text-align: right;
    li {
      font-size: 2rem;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      a {
        text-decoration: none;
        color: $gray-light;
        padding: 0.7rem;
        border: 0.2rem solid transparent;
        transition: all 0.2s;
      }
    }

    &-main {
      margin-top: 2rem;

      li {
        float: right;

        a {
          &:hover {
            border-bottom: 0.2rem solid $green-dark;
          }
        }
      }
    }
    &-clone {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      background-image: linear-gradient(
        rgba($blue-dark, 0.9),
        rgba($blue-dark, 0.9)
      );

      padding: 0.3rem;

      text-align: center;

      li {
        display: inline-block;

        &:not(:last-child) {
          margin-right: 5rem;
        }

        a {
          border-bottom: 0.4rem solid transparent;
          &:hover {
            border-bottom: 0.4rem solid $green-dark;
          }
        }
      }
    }
  }

  &__text-box {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
