.header {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      to right bottom,
      rgba(darken($green-dark, 65%), 0.7),
      rgba(darken($green-dark, 65%), 0.7)
    ),
    url(../img/palm-tree-big.jpg);

  @include respond(tab-land) {
    background-image: linear-gradient(
        to right bottom,
        rgba(darken($green-dark, 65%), 0.7),
        rgba(darken($green-dark, 65%), 0.7)
      ),
      url(../img/palm-tree-small.jpg);
  }
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  .hidden {
    display: none;
  }

  &__nav {
    list-style: none;
    display: inline-block;

    width: 100%;
    text-align: right;
    li {
      font-size: 2rem;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      a {
        text-decoration: none;
        color: $gray-light;
        padding: 0.7rem;
        border: 0.2rem solid transparent;
        transition: all 0.2s;
      }
    }

    &--responsive {
      display: none;
      background-color: $blue-dark;
      border-radius: 100rem;
      width: 6rem;
      position: fixed;
      top: 4rem;
      right: 3rem;
      z-index: 999;

      @include respond(tab-land) {
        display: block;
      }
    }

    &-main {
      margin-top: 2rem;
      animation: moveInRight 0.5s ease;
      animation-fill-mode: backwards;

      li {
        float: right;

        a {
          &:hover {
            border-bottom: 0.2rem solid $green-dark;
          }
        }
      }
    }

    @include respond(tab-land) {
      background-color: $blue-dark;
      width: 15rem;
      position: fixed;
      top: 8rem;
      right: 8rem;
      margin-top: 0;
      z-index: 999;
      animation: none;
      animation-fill-mode: none;
      text-align: center;
      border-radius: 2rem;

      .main {
        display: none;
      }

      .mobile {
        padding: 1rem;
        float: none;
      }
    }

    &-clone {
      @include respond(tab-land) {
        display: none;
      }

      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      background-image: linear-gradient(
        rgba(lighten($blue-dark, 5%), 0.95),
        rgba(lighten($blue-dark, 5%), 0.95)
      );

      padding: 0.4rem;

      text-align: center;

      li {
        display: inline-block;

        &:not(:last-child) {
          margin-right: 5rem;
        }

        a {
          border-bottom: 0.5rem solid transparent;
          &:hover {
            border-bottom: 0.5rem solid $green-dark;
          }
        }
      }
    }
  }

  &__text-box {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
