body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 2;
  color: $gray-light;

  @include respond(tab-land) {
    line-height: 1.8;
  }
}

.heading-primary {
  text-transform: uppercase;
  font-size: 4.6rem;
  font-weight: 300;
  margin-bottom: 1rem;
  letter-spacing: 0.3rem;
  animation: moveInTop 1s ease;
  animation-fill-mode: backwards;
}

.heading-secondary {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  padding: 4rem 0;
  color: $blue-dark;
  letter-spacing: 0.1rem;
  transition: all 0.3s;

  @include respond(phone) {
    font-size: 2.6rem;
    padding: 1rem 0;
  }

  &:hover {
    transform: rotate(-2deg) scale(1.1);
  }
}

.heading-tertiary {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  color: $green-light;
  border-bottom: 0.2rem solid $green-light;
  margin-bottom: 2.5rem;

  @include respond(tab-port) {
    margin-bottom: 1.5rem;
  }
}

.text-tehlike {
  width: 80%;

  @include respond(tab-port) {
    width: 60%;
  }

  @include respond(phone) {
    width: 75%;
  }
}
